img{ 
    transform-origin:50% 50%;
    animation:2s rotateRight infinite linear; 
}


h1{ 
    color:#FFFFFF;
}

/*
h1{ 
    transform-origin:50% 50%;
    animation:10s rotateRight infinite linear; 
}
*/

@keyframes rotateRight{
    100%{ transform:rotate(360deg); }
}
