body {
  background: #444444;
  background-image:
    radial-gradient(salmon 20%, transparent 0), 
    radial-gradient(salmon 20%, transparent 0);
  background-size: 30px 30px;
  background-position: 0 0, 15px 15px;
}

.vignette {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: 0 0 200px rgba(0,0,0,0.9) inset;
}

img{ 
    transform-origin:50% 50%;
    animation:10s rotateRight infinite linear; 
}


h1{ 
  text-shadow: 2px 2px 5px black;
  color:#FFFFFF;
}

/*
h1{ 
    transform-origin:50% 50%;
    animation:10s rotateRight infinite linear; 
}
*/

@keyframes rotateRight{
    100%{ transform:rotate(360deg); }
}
